<% if !@featured_answers.empty? %>
  <div id="questions-carousel" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <% @featured_answers.each do |question| %>
        <div class="item <%= "active" if question == @featured_answers.first%>">
          <%= link_to question_path(question.id) do %>
            <%= image_tag(bigger_picture(question)) %>
            <div class="carousel-caption">
              <h2><%= question.display_text %></h2>
              Asked by <%= question.display_author %> | Reported by <%= question.reporter %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#questions-carousel" data-slide="prev">
      <span class="slide-arrow slide-left"></span>
    </a>
    <a class="right carousel-control" href="#questions-carousel" data-slide="next">
      <span class="slide-arrow slide-right"></span>
    </a>
  </div>
<% end %>
