<div class="modal fade" id="confirm-question-modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
        <h4 class='modal-title'>Double check that your question looks good</h4>
      </div>
      <div class="modal-body">
        <div class="confirm-question-image">
          <img src= "<%= question_image_url(@question)%>">
        </div>
        <br>
        <div class="question-details">
          <label>Question</label><br>
          <%= @question.display_text %><br><br>
          <% if @question.description.to_s != '' %>
            <label>More about your question</label><br>
            <%= @question.description %><br><br>
          <% end %>
          <%= render anonymity_partial(@question) %>  

          <label>Neighborhood</label><br>
          <%= @question.neighbourhood %><br><br>
          <label>Categories</label><br>
          <% @question.categories.each do |category| %>
            <%= category.label %><br>
          <% end %>
          <br>
        </div>

        <%= form_for(@question, :url => questions_path, :method => :post, :remote => true) do |f| %>
          <%= f.hidden_field :display_text, value: @question.display_text %>
          <%= f.hidden_field :description, value: @question.description %>
          <%= f.hidden_field :name, value: @question.name %>
          <%= f.hidden_field :anonymous, value: @question.anonymous %>
          <%= f.hidden_field :email, value: @question.email %>
          <%= f.hidden_field :email_confirmation, value: @question.email_confirmation %>
          <%= f.hidden_field :neighbourhood, value: @question.neighbourhood %>
          <% @question.categories.each do |category| %>
            <%= f.hidden_field :category_ids, multiple: true, value: category.id %>
          <% end %>
          <%= f.hidden_field :picture_url, value: @question.picture_url %>
          <%= f.hidden_field :picture_owner, value: @question.picture_owner %>
          <%= f.hidden_field :picture_attribution_url, value: @question.picture_attribution_url %>
        <% end %>

      </div>
      <div class="modal-footer">
        <%= link_to 'BACK', picture_question_path(params: { question: { display_text: @question.display_text, description: @question.description,
                                                                        name: @question.name, anonymous: @question.anonymous,
                                                                        email: @question.email, email_confirmation: @question.email_confirmation,
                                                                        neighbourhood: @question.neighbourhood, picture_url: @question.picture_url,
                                                                        picture_owner: @question.picture_owner, category_ids: @question.category_ids,
                                                                        picture_attribution_url: @question.picture_attribution_url} }), id: 'modal-form-back',
                    class: 'btn', method: 'post', remote: true %>
        <a id='modal-form-submit' class='btn btn-primary inline' href='#'>SUBMIT</a>
      </div>
    </div>
  </div>
</div>
