<!--Copyright 2013 WBEZ
This file is part of Curious City.

Curious City is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

Curious City is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with Curious City.  If not, see <http://www.gnu.org/licenses/>.!-->
<script>

  $(document).ready(function(){ 
    $('#<%= popover_id %>').popover({trigger: 'manual', placement: '<%= placement %>', html : true });
     
    $('#<%= popover_id %>').click(function (e) {
      $(this).popover('toggle');
      e.stopPropagation();
    });
    
    $(document).click(function (e) {
      if (($('.popover').has(e.target).length == 0) || $(e.target).is('.close')) {
        $('#<%= popover_id %>').popover('show');
        $('#<%= popover_id %>').click();
      }
    });
      
  });

</script>

<a href="javascript:void(0);" role="button" class="popover-link" id="<%= popover_id %>" title="" 
  data-content="<%= render guideline_content_partial%>" data-original-title='<strong>Guidelines</strong><a class="close" href="javascript:void(0);">&times;</a>'><%=link_label%></a>

