<%= form_for(@question, :url => confirm_question_path, :remote => true) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="field col-lg-12">
    <%= f.label :your_question, "Your question*" %>
    <%= f.text_area :display_text, placeholder: "Enter your question here", rows: "4", maxlength: "140", class: "form-control submit-question-text", style: "resize: none"%>
    <div class="submit-question-spec">
      (140 character limit)
    </div>
  </div>
</div>

<div class="row">
  <div class="field col-lg-8">
    <%= f.label :category, "Add a category to make it easier to find:" %>
    <div class="categories-group">
      <% @categories.each do |category| %>
        <div class="checkbox-group">
          <%=  check_box_tag('question[category_ids][]', category.id,
              @question.categories.include?(category),
              { multiple: true, id: "question_category_id_#{category.id}" }) %> 
          <%= f.label "category_id_#{category.id}", category.label%> 
        </div>
      <% end%>
    </div>
  </div>
</div>

<div class="row">
  <div class="field col-md-5">
    <br>
    <%= f.label :name, "Name*" %>
  </div>
  <div class="field col-md-5">
    <label for="question_email">
      Email*
      <span style="font-size:10">
        (your email address is never shared)
      </span>
    </label>
    <!--<%= f.label :email, "Email* (your email address is never shared)" %>-->
  </div>
</div>

<div class="row">
  <div class="field col-md-5">
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="field col-md-5">
    <%= f.text_field :email, class: "form-control" %>
  </div>
</div>

<div class="row">
  <div class="field col-md-5">
    <div class="checkbox-group">
      <%= f.check_box :anonymous %>
      <%= f.label "Remain anonymous" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="field col-md-5">
    <label for="question_neighbourhood">
      Neighborhood*
      <span style="font-size:10">
        (e.g. Pilsen)
      </span>
      or town
      <span style="font-size:10">
        (e.g. Berwyn)
      </span>
    </label>
  </div>
  <div class="field col-md-5">
    <br>
    <%= f.label "Confirm E-mail*" %><br>
  </div>
</div>

<div class="row">
  <div class="field col-md-5">
    <%= f.text_field :neighbourhood, class: "form-control" %>
  </div>
  <div class="field col-md-5">
    <%= f.text_field :email_confirmation, class: "form-control" %>
  </div>
</div>

<p class="row" style="font-size:10">* required fields</p>
<% end %>
