<div class="modal fade" id="question-picture-modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
        <h4 class='modal-title'>header here </h4>
      </div>
      <div class="modal-body">
        <%= form_tag find_pictures_path, id: "picture-search-form", remote: true do %>
          <%= text_field_tag "Search", nil, { id: "search-field"} %>
          <%= submit_tag "Search", id: "search-flicker" %>
        <% end %>
        <div id="pictures"></div>
        <%= form_for(@question, :url => confirm_question_path, :method => :post, :remote => true) do |f| %>
          <%= f.hidden_field :display_text, value: @question.display_text %>
          <%= f.hidden_field :name, value: @question.name %>
          <%= f.hidden_field :anonymous, value: @question.anonymous %>
          <%= f.hidden_field :email, value: @question.email %>
          <%= f.hidden_field :email_confirmation, value: @question.email_confirmation %>
          <%= f.hidden_field :neighbourhood, value: @question.neighbourhood %>
          <% @question.categories.each do |category| %>
            <%= f.hidden_field :category_ids, multiple: true, value: category.id %>
          <% end%>
          <%= f.hidden_field :picture_url, value: @question.picture_url %>
          <%= f.hidden_field :picture_owner, value: @question.picture_owner %>
        <% end %>
      </div>
      <div class="modal-footer">
        <%= button_to 'GO BACK', new_question_path(@question.attributes.merge(email_confirmation: @question.email_confirmation, category_ids: @question.category_ids)), id: 'modal-form-back',  class: 'btn', method: 'get', remote: true %>
        <a id='modal-form-submit' class='btn btn-primary inline' href='#'>NEXT</a>
      </div>
    </div>
  </div>
</div>
