<div class="modal fade" id="question-picture-modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
        <h4 class='modal-title'>Make your question snazzy - add a photo!</h4>
        Search for a photo related to your question.
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-8">
            <%= form_tag find_pictures_path, id: "picture-search-form", remote: true do %>
              <div class="input-group">
                <%= text_field_tag "Search", nil, { id: "search-field", class: "form-control" } %>
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-sm btn-search" id="search-flickr">Search Flickr</button>
                </span>
              </div>
            <% end %>
          </div>
        </div>
        <div id="pictures"></div>
        <%= form_for(@question, :url => confirm_question_path, :method => :post, :remote => true) do |f| %>
          <%= f.hidden_field :display_text, value: @question.display_text %>
          <%= f.hidden_field :name, value: @question.name %>
          <%= f.hidden_field :anonymous, value: @question.anonymous %>
          <%= f.hidden_field :email, value: @question.email %>
          <%= f.hidden_field :email_confirmation, value: @question.email_confirmation %>
          <%= f.hidden_field :neighbourhood, value: @question.neighbourhood %>
          <% @question.categories.each do |category| %>
            <%= f.hidden_field :category_ids, multiple: true, value: category.id %>
          <% end%>
          <%= f.hidden_field :picture_url, value: @question.picture_url %>
          <%= f.hidden_field :picture_owner, value: @question.picture_owner %>
          <%= f.hidden_field :picture_attribution_url, value: @question.picture_attribution_url %>
        <% end %>
        <div id="cc-message">(All images are Creative Commons licensed.)</div>
      </div>
      <div class="modal-footer">
        <%= link_to 'BACK', ask_question_path(@question.attributes.merge(email_confirmation: @question.email_confirmation, category_ids: @question.category_ids,
                                                                         picture_url: @question.picture_url, picture_owner: @question.picture_owner)),
                            id: 'modal-form-back', class: 'btn', method: 'post', remote: true %>
        <a id='modal-form-next' class='btn btn-primary' href='#'>NEXT</a>
      </div>
    </div>
  </div>
</div>
