<h3>Double check your question looks good:</h3>

<label>Question</label><br>
<%= @question.display_text %><br><br>
<label>Name</label><br>
<%= @question.name %><br><br>
<label>Anonymous</label><br>
<%= @question.anonymous %><br><br>
<label>Email</label><br>
<%= @question.email %><br><br>
<label>Neighborhood</label><br>
<%= @question.neighbourhood %><br><br>
<label>Categories</label><br>
<% @question.categories.each do |category| %>
  <%= category.label %><br>
<% end %>
<br>

<%= form_for(@question) do |f| %>
  <%= f.hidden_field :display_text, value: @question.display_text %>
  <%= f.hidden_field :name, value: @question.name %>
  <%= f.hidden_field :anonymous, value: @question.anonymous %>
  <%= f.hidden_field :email, value: @question.email %>
  <%= f.hidden_field :neighbourhood, value: @question.neighbourhood %>
  <%= f.hidden_field :categories, value: @question.categories %>
  <%= f.submit "SUBMIT", class: "btn pull-right" %>
<% end %>
<br>
<br>
<%= button_to 'GO BACK', new_question_path(@question.attributes), class: "btn pull-right", method: "get" %>
