<!--Copyright 2013 WBEZ
This file is part of Curious City.

Curious City is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

Curious City is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with Curious City.  If not, see <http://www.gnu.org/licenses/>.!-->
<div class="container-padding">
  <%= render 'carousel'  %>
  <br>
  <div class="category-links">
    <%= link_to "All", filter_questions_path %>
    <% @categories.each do |category| %>
      | <%= link_to category.label, filter_questions_path(status: params[:status], category_name: category.name) %>
    <% end %>
  </div>
  <div class="questions">
    <div class="flickr_pagination">
      <%= will_paginate @questions %>
    </div>
    <% cache(cache_key_for_questions(@questions)) do %>
      <% @questions.each do |question| %>
        <% cache(question) do %>
          <div class="row">
            <div class="question", id="question<%= question.id.to_s %>">
              <div class="question-image col-xs-12 col-sm-4">
                <%= render partial: "shared/question_image_link", locals:{ question: question } %>
              </div>
              <%= render partial:'shared/question_text', locals:{ question: question, badge: true } %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
    <div class="flickr_pagination">
      <%= will_paginate @questions %>
      <div class="page_info">
        <%= page_entries_info @questions %>
      </div>
    </div>
  </div>
</div>
