<h1>Listing questions</h1>

<table>
  <thead>
    <tr>
      <th>Original text</th>
      <th>Display text</th>
      <th>Neighborhood</th>
      <th>Active</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.original_text %></td>
        <td><%= question.display_text %></td>
        <td><%= question.neighbourhood %></td>
        <td><%= question.active %></td>
        <td><%= link_to 'Show', question %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Deactivate', deactivate_question_path(question), method: :post, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_question_path %>
