<div class="container-padding">
  <br>
  <div class="category-links">
    <%= link_to "All", filter_questions_path %>
    <% @categories.each do |category| %>
      | <%= link_to category.label, filter_questions_path(category.name) %>
    <% end %>
  </div>
  <div class="questions">
    <% @questions.each do |question| %>
      <div class="row">
        <div class="question", id="question<%= question.id.to_s %>">
          <div class="question-image">
            <%= render partial: "shared/question_image", locals:{ question: question} %>
          </div>
          <%= render partial:'shared/question_text', locals:{question:question} %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= render 'shared/comment_count' unless Rails.env.test?%>
