<!--Copyright 2013 WBEZ
This file is part of Curious City.

Curious City is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

Curious City is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with Curious City.  If not, see <http://www.gnu.org/licenses/>.!-->
<div class="container-padding">
  <br>
  <p>
  <%= link_to raw("<span class='arrow left'></span>") + "Previous Question", question_path(@question.previous_question) unless @question.previous_question.nil?  %>
  <%= link_to raw("Next Question<span class='arrow right'></span>"), question_path(@question.next_question), class: "pull-right" unless @question.next_question.nil? %>
  </p>
  <div class="clearfix">
    <div class="question-image col-sm-4">
      <%= render partial: "shared/question_image", locals:{ question: @question} %>
    </div>
    <div class="col-sm-8 question-show-text-container">
      <div class="question-text question-show-text" data-url="<%= request.original_url %>" data-displaytext="<%= @question.display_text %>" >
        <%= @question.display_text %>
        <p>Asked by <%=@question.display_author%></p>
      </div>
    </div>
  </div>
  <div class="row hidden-xs">
    <div class="col-sm-4"> 
      <%= render "share_widget" %>
    </div>
  </div>
  <% if @answers.any? %>
    <div class="answer-image col-sm-4">
      <div class="checkmark"></div>
    </div>
    <div class="answers col-sm-8">
      <div class="answer-text">
        <h4>Our answer</h4>
        <% @answers.each do |answer| %>
          <%= link_to answer.label, answer.url, class: "answer-link clearfix", target: "_blank" %>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="clearfix"></div>
  <% if @updates.any? %>
    <div class="update-image col-sm-4">
      <div class="notepad"></div>
    </div>
    <div class="updates col-sm-8">
      <div class="update-text">
        <h4>Reporting updates:</h4>
        <% @updates.each do |update| %>
          <%= link_to update.label, update.url, class: "update-link clearfix", target: "_blank" %>
        <% end %>
      </div>
    </div>
  <% end %>
  <%= render partial:'comments' unless Rails.env.test?%>
</div>
