<div class="container-padding">
  <div class="questions">
    <div class="row">
      <div class="question">
        <div class="question-image">
          <%= render partial: "shared/question_image", locals:{ question: @question} %>
        </div>
        <div class="question-text">
          <%= @question.display_text %>
          <p class="author">Asked by <%=@question.display_author%></p>
        </div>
      </div>
    </div>
    <% if @question.answers.any? %>
      <div class="answers">
        <div class="answer-image">
          <div class="checkmark"></div>
        </div>
        <div class="answer-text">
          <h4>Our answer</h4>
          <% @question.answers.each do |answer| %>
            <%= link_to answer.label, answer.url %>
          <% end %>
        </div>
      </div>
    <% end %>
    <%= render partial:'comments' unless Rails.env.test?%>
    <div class="clearfix"></div>
  </div>
</div>
