<div class="container-padding">
  <br>
  <p>
  <%= link_to raw("<span class='arrow left'></span>") + "Previous Question", question_path(@question.previous_question) unless @question.previous_question.nil?  %>
  <%= link_to raw("Next Question<span class='arrow right'></span>"), question_path(@question.next_question), class: "pull-right" unless @question.next_question.nil? %>
  </p>
  <div class="clearfix">
    <div class="question-image">
      <%= render partial: "shared/question_image", locals:{ question: @question} %>
    </div>
    <div class="question-text">
      <%= question_display_text(@question) %>
      <p>Asked by <%=@question.display_author%></p>
    </div>
  </div>
  <% if @question.completed_answers.any? %>
    <div class="answer-image">
      <div class="checkmark"></div>
    </div>
    <div class="answers">
      <div class="answer-text">
        <h4>Our answer</h4>
        <% @question.completed_answers.each do |answer| %>
          <p>
            <%= link_to answer.label, answer.url, class: "answer-link", target: "_blank" %>
          </p>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="clearfix"></div>
  <% if @question.updates.any? %>
    <div class="update-image">
      <div class="notepad"></div>
    </div>
    <div class="updates">
      <div class="update-text clearfix">
        <h4>Reporting updates:</h4>
        <% @question.updates.each do |update| %>
          <p>
            <%= link_to update.label, update.url, class: "update-link", target: "_blank" %>
          </p>
        <% end %>
      </div>
    </div>
  <% end %>
<%= render partial:'comments' unless Rails.env.test?%>
</div>
