<!--<p id="notice"><%= notice %></p>-->

<p>
  <strong>Question:</strong>
  <%= @question.display_text %>
</p>

<p>
  <strong>Name:</strong>
  <%= @question.display_author %>
</p>

<p>
  <strong>Email:</strong>
  <%= @question.email %>
</p>

<p>
  <strong>Neighborhood:</strong>
  <%= @question.neighbourhood %>
</p>

<%= button_to 'Back', questions_path, method: "get", class: "btn" %>
