<!--<p id="notice"><%= notice %></p>-->

<p>
  <strong>Display text:</strong>
  <%= @question.display_text %>
</p>

<p>
  <strong>Name:</strong>
  <%= @question.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @question.email %>
</p>

<p>
  <strong>Neighborhood:</strong>
  <%= @question.neighbourhood %>
</p>

<%= link_to 'Back', questions_path %>
