<div class="container-padding">
  <div class="questions">
    <div class="row">
      <div class="question">
        <div class="question-image">
          <%= render partial: "shared/question_image", locals:{ question: @question} %>
        </div>
        <div class="question-text">
          <%= @question.display_text %>
          <p class="author">Asked by <%=@question.display_author%></p>
        </div>
      </div>
    </div>
      <div class="answers">
        <div class="answer-image">
          <div class="checkmark"></div>
        </div>
        <div class="answer-text">
          <h4><%= "Our answer" if @question.answers.any? %></h4>
          <% @question.answers.each do |answer| %>
            <p>
            <%= link_to answer.label, answer.url %>
            </p>
          <% end %>
        </div>
    </div>
    <h4 id="comments-prompt"> If WBEZ investigates this question, what should we consider? What's your experience with this? </h4>
    <%= render partial:'comments' unless Rails.env.test?%>
    <div class="clearfix"></div>
  </div>
</div>
