<div class="container-padding">
  <br>
  <p>
  <%= link_to raw("<span class='arrow left'></span>") + "Previous Question", question_path(@question.previous_question) unless @question.previous_question.nil?  %>
  <%= link_to raw("Next Question<span class='arrow right'></span>"), question_path(@question.next_question), class: "pull-right" unless @question.next_question.nil? %>
  </p>
  <div class="clearfix">
    <div class="question-image col-sm-4 hidden-xs">
      <%= render partial: "shared/question_image", locals:{ question: @question} %>
    </div>
    <div class="col-sm-8">
      <div id="question-text" class="question-text-display" data-url="<%= request.original_url %>" data-displaytext="<%= @question.display_text %>" >
        <%= @question.display_text %>
        <p>Asked by <%=@question.display_author%></p>
      </div>
    </div>
  </div>
  
  <% if @answers.any? %>
    <div class="answer-image col-sm-4">
      <div class="checkmark"></div>
    <%= render "share_widget" %>
    </div>
    <div class="answers col-sm-8">
      <div class="answer-text">
        <h4>Our answer</h4>
        <% @answers.each do |answer| %>
          <p>
          <%= link_to answer.label, answer.url, class: "answer-link", target: "_blank" %>
          </p>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="clearfix"></div>
  <% if @updates.any? %>
    <div class="update-image col-sm-4">
      <div class="notepad"></div>
    </div>
    <div class="updates col-sm-8">
      <div class="update-text clearfix">
        <h4>Reporting updates:</h4>
        <% @updates.each do |update| %>
          <p>
          <%= link_to update.label, update.url, class: "update-link", target: "_blank" %>
          </p>
        <% end %>
      </div>
    </div>
  <% end %>
  <%= render partial:'comments' unless Rails.env.test?%>
</div>


