<div class="container-padding">
  <div class="about col-sm-8 pull-right">
    <h3>Got a question about Chicago, the region or the people who live here? Anything you’ve always wondered about, found peculiar or downright confusing? Ask questions, vote, discover answers. <strong>It’s your Curious City.</strong></h3>
    <p>
    Curious City is an ongoing news experiment at <a href="http://www.wbez.org" target="blank">WBEZ</a> to include the public in editorial decision-making, make 
    journalism more transparent and strengthen multimedia coverage about Chicago, the surrounding region and its 
    people (past or present).
    </p>
    <p>
    All Curious City stories originate with questions submitted by the public. WBEZ producers and editors regularly 
    sift through those questions and work with reporters, radio hosts, <a href="http://www.wbez.org/series/curious-city/what-qualifications-do-you-need-be-professional-zamboni-driver-106807" target="blank">videographers</a>, <a href="http://www.wbez.org/series/curious-city/question-answered-do-descendants-chicago%E2%80%99s-native-american-tribes-live-city" target="blank"> photographers</a>, <a href="http://www.wbez.org/blogs/louisa-chu?page=2" target="blank">bloggers</a>, <a href="http://wbez-assets.s3-website-us-east-1.amazonaws.com/curiouscity/kathy/" target="blank">comic</a> 
    <a href="http://wbez-assets.s3-website-us-east-1.amazonaws.com/curiouscity/kathy/" target="blank">artists</a> and even <a href="http://www.wbez.org/series/curious-city/hmmm-if-only-our-curiosity-had-anthem-105512" target="blank">musicians</a> to find the best answers. Curious City often places questions into <%= link_to "voting rounds", root_path, target: "blank" %>, so the 
    public can make the final decision about what to investigate! 
    </p>
    <p>
    Beyond that, the curious citizens who submit questions regularly help track down answers. Some have helped 
    conduct interviews, others have supplied important photos or documents and many have appeared live on <a href="http://www.wbez.org/player" target="blank">WBEZ 
      91.5 FM!</a> 
    </p>
    <p>
    There are lots of ways to contribute to our stories beyond asking questions. You can follow Curious City on 
    <a href="http://www.facebook.com/curiouscityproject" target="blank">Facebook</a>, <a href="http://twitter.com/wbezcuriouscity" target="blank">Twitter</a>, <a href="http://www.wbez.org/curiouscity" target="blank">WBEZ’s website</a> and subscribe to our <a href="http://feeds.feedburner.com/CuriousCityPodcast" target="blank">podcast</a>. Comments, leads and insights from curious 
    people just like you have made all the difference in our <a href="https://soundcloud.com/curiouscity/sets/curious-city-podcasts" target="blank">radio</a>, <a href="http://www.youtube.com/playlist?list=PL0LxICU6xOzP7qETdSUW1nKWCjWtkkpek" target="blank">video</a> and <a href="http://www.wbez.org/series/curious-city" target="blank">web-based stories</a>. 
    </p>
  </div>

  <div class="faq col-sm-4">
    <%= image_tag "about.png"%>
    <h3>FAQ</h3>

    <strong>How do you collect questions?</strong>
    <p>
    We collect questions through this website (top of the page!), through messages left at our toll-free number (1-888-789-7752), or when we’re pounding the pavement in the city and surrounding area. 
    </p>
    <strong>Are there questions you do not accept? </strong>
    <p>
    All questions asked make it to the question archive unless they don’t meet the website’s guidelines for decorum, 
    fairness or obvious conflicts of interest. We do not investigate questions about WBEZ or posed by staff at WBEZ or 
    its parent organization, Chicago Public Media.
    </p>
    <strong>How do you pick the questions for voting rounds?</strong>
    <p>
    WBEZ producers and editors identify questions that have potential to be answered by staff, freelancers, or 
    volunteers. Often, Curious City will look for a theme (e.g., “history”) and fill the voting round with questions 
    related to the theme. Editors and producers also consider regional diversity, tone, or timeliness. Sometimes 
    Curious City will deliberately create voting rounds with no obvious theme, so we can gauge the public’s interest in 
    novel topics. 
    </p>
    <strong>What happens if my question is in a voting round?</strong>
    <p>
    Well first off, congratulations! We typically keep votes open for anywhere from a week to two weeks, a range that 
    allows us to juggle schedules for reporters, producers and show hosts. We notify question submitters of how long 
    the round will last so they can ask friends, family and social networks for their support.
    </p>
    <p>
    If your question does win a vote you’re in for double congratulations! Curious City will discuss options of how 
    you might participate in the investigation, depending on your interest and schedule, as well as the schedule 
    of reporters or producers. The public at large will also be able to follow the investigation as it unfolds via our 
    <a href="http://www.facebook.com/curiouscityproject" target="blank">Facebook page</a>, <a href="http://twitter.com/wbezcuriousCity" target="blank">Twitter feed</a> and <%= link_to "Website", root_url,  target:"blank"%>.
    </p>
    <strong>What happens if my question is in a voting round and doesn’t win? Will it still get answered?</strong>
    <p>
    There is hope for your question! WBEZ editors and producers regularly scan the question archive. Often, they’ll 
    investigate questions that never made to a voting round. Or, they’ll find that a question has already been 
    answered in some way — either through a previous Curious City investigation or a WBEZ radio story, show 
    segment, interview or Web story. There’s another way your question may be answered: The public weighs in! 
    Anyone can comment on questions. If you know the answer to someone else’s question or even have leads or 
    points others should consider, don’t be shy! Let them know the information you have and whenever possible, cite 
    your sources.
    </p>
    <strong>Why do you change the wording of some questions when they enter a voting round?</strong>
    <p>
    Curious City edits some questions for clarity and brevity. Editors and producers attempt to recast otherwise 
    relevant or provocative questions that mischaracterize small details or remain too broad. The goal is to indicate 
    what lines of investigation WBEZ is likely to pursue, so the public can clearly understand the choices and vote 
    deliberately. 
    </p>
  </div>
<div class="col-sm-8 team">
  <h3>The Team:</h3>

  <%=image_tag 'JennBrandel.jpg', class: "bio-pic pull-right" %> 
  <strong>Jennifer Brandel</strong>: <dfn>Founder + Senior Producer</dfn>
  <p>
  Jennifer is air traffic controller for all things curious. She produces the series (think massive amounts of emailing, 
  listening, diagram-making, meetings) and occasionally sees daylight while reporting for it, too. Prior to Curious 
  City, Jennifer reported for WBEZ’s newsdesk and for national radio shows including<i> All Things Considered</i>, <i>Day 
    to Day</i>, <i>Weekend America</i>, <i>Latino USA</i> and<i> Interfaith Voices</i> and has collected a few Associated Press awards for 
  that work. She’s served as an assistant producer for <i>Wait! Wait! Don’t Tell Me!</i>, a blogger for Transom.org and 
  the talent for pieces aired on WireTap, Love + Radio and How To Do Everything. Jennifer has managed radio 
  conferences and produced broadcasts for The Third Coast International Audio Festival. Her photos have appeared 
  in The New York Times online and Vice Magazine and she dabbles in <a href="http://www.youtube.com/watch?v=3yzNN3Zukl8" target="blank">music video-making</a>, <a href="http://www.tumblr.com/tagged/dog-gif" target="blank">petting dogs</a> and 
  pitching for the WBEZ 16-inch softball team.
  </p>
  <%=image_tag 'ShawnAllee.jpg', class: "bio-pic" %> 
  <strong>Shawn Allee</strong>: <dfn>Editor</dfn>
  <p>
  Shawn edits whatever the minds of Curious City’s producers, reporters and other contributors might dream 
  up. His favorite thing to say is: “Follow your heart, then get an edit.” His own radio work landed him on NPR’s 
  <i>On The Media</i>, <i>All Things Considered</i>, <i>This American Life</i>, <i>Marketplace</i> and other public radio outlets. His investigations earned him top honors from the Illinois Associated Press, the Society of Environmental Journalists, 
  the Illinois News Broadcasters Association and the Radio Television Digital News Association. He really digs taking 
  photographs, especially of his cats, his prized LEGO robots, his Chicago neighborhood and his native Iowa.
  </p>
  <%=image_tag 'LoganJaffe.jpg', class: "bio-pic" %> 
  <strong>Logan Jaffe</strong>: <dfn>Multimedia producer</dfn>
  <p>
  Logan shoots and produces photo, video, interactive and Web content for Curious City. Somewhat of a multimedia 
  ninja, she’s previously worked as a photojournalist, reporter and Web/graphic designer, but couldn’t pick just one. 
  Her first independent documentary, <a href="https://vimeo.com/76725053" target="blank">The Road to Somewhere Else</a> (Highway 127 & The World’s Longest Yard Sale) 
  appeared in Digital Americana’s Fall 2013 issue. She’s been a finalist in KCRW’s <a href="https://soundcloud.com/shrimpeyes/zamboni-rosrs-a-sign-of-the" target="blank">24-hour radio race</a> and in the Third 
  Coast International Audio Festival’s <a href="https://soundcloud.com/shrimpeyes/sweet-small-victory" target="blank">ShortDocs challenge</a>. A Miami native, Logan graduated from the University of 
  Florida with a degree in photojournalism and spends her free time hunting for home movies, home-recorded 
  tape cassettes and other obsolete, <a href="https://vimeo.com/25010270" target="blank">lost media to reassemble</a>. 
  </p>
</div>
<div class="col-sm-8">
  <h3>Site Credits: </h3>
  <p>Original interactive production and coding by <a href="http://zeega.com/" target="blank">Zeega</a>. </p>
  <p>Original graphic design and logo by <a href="http://weareplural.com/" target="blank">Plural</a>.</p> 
  <p>Site redevelopment by <a href="http://www.thoughtworks.com/" target="blank">ThoughtWorks</a>.</p>
  <p>
  <strong>Curious City</strong> is produced by Jennifer Brandel and brought to you by <a href="http://www.wbez.org/" target="blank">WBEZ</a> and <a href="http://localore.net/" target="blank">Localore</a>, a national initiative 
  produced by <a href="http://www.airmedia.org/" target="blank">AIR</a>, the Association of Independents in Radio, Incorporated and with financial support from 
  the Corporation for Public Broadcasting, the Wyncote Foundation, the John D. and Catherine T. MacArthur 
  Foundation, the National Endowment for the Arts and the Knight Foundation.
  </p>
  <p>
  Curious City is part of AIR’s <a href="http://localore.net/" target="blank">Localore</a> initiative, a national effort to develop journalistic and technical ingenuity and 
  extend public media service to more Americans. 
  </p>
  <h3>Special Thanks:</h3>
  <p>
  This project would not be possible without the generous, invaluable help and support of many individuals 
  and organizations. Extra special thanks go to: Torey Malatia, Daniel Ash, Sally Eisele, Matthew Green, Breeze 
  Richardson, Alison Scholly, Wendy Turner, Vanessa Harris, Jill Shepherd, Beth Maggard, Bea Bosco, Jennifer Choi, 
  Justin Kaufmann, Chris Bentley, Steve Edwards, Thales Exoo, Adam Yoffe, Sarah Lu, Tim Akimoff, Joe DeCeault, 
  Adam Peindl, Cate Cahan, Aurora Aguilar, Shannon Heffernan, Katie Mingle, Heidi Goldfein, Sue Schardt, Noland 
  Walker, Jessica Clark, Lo Audley, Lindsey Wagner, James Burns, Kara Oehler, Jesse Shapins, Jeremiah Chiu, Renata 
  Graw, Julie Shapiro, Aaron Wickenden, John Bracken, Chris Barr, Ji Wang, Ariel Flaggs, Bill Kimmel, Ed Thome, 
  Rebecca Lau, Alberto Saavedra, Landon Medlock and Lesley Dennison.
  </p>
</div>
</div>
