<h1>Listing voting_rounds</h1>

<table>
  <thead>
    <tr>
      <th>Start time</th>
      <th>End time</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @voting_rounds.each do |voting_round| %>
      <tr>
        <td><%= voting_round.start_time %></td>
        <td><%= voting_round.end_time %></td>
        <td><%= link_to 'Show', voting_round %></td>
        <td><%= link_to 'Edit', edit_voting_round_path(voting_round) %></td>
        <td><%= link_to 'Destroy', voting_round, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Voting round', new_voting_round_path %>
