<% if @voting_round %>
  <div class="voting-round">
    <div class="row">
      <div class="col-lg-4">
      </div>
      <div class="col-lg-8 right-col">
        <div class="super">
          <h1>Which should we investigate next?</h1>
        </div>
        <div class="sub">
          <h5>Select the question you’d most like answered.</h5>
        </div>
      </div>
    </div>
    <div class="questions">
      <% (display_order(@voting_round.questions)).each_with_index do |question, index| %>
        <div class="row">
          <div class="question", id="question<%= question.id.to_s %>">
            <div class="question-image">
              <% if voted? %>
                <h2 class = "rank" id="rank<%= question.id.to_s %>"><%= (index + 1).ordinalize %></h2>
              <% end %>
              <%= render partial: "questions/question_image", locals:{ question: question} %>
              <%= if !voted? then link_to "", vote_path(question_id: question.id, voting_round_id: @voting_round.id), method: :post, class: "vote", id: "vote"+question.id.to_s end %>
              <%= if voted? and last_vote?(question.id) then content_tag(:div, nil, id: 'vote_confirm' + question.id.to_s, class: "voted") end %>
              <% if voted? %><span class="rank-triangle"></span><% end %>
             </div>  
              
                <div class="question-text">
                  <%= link_to question.display_text, question_path(question.id) %>
                  <p class="author">Asked by <%=question.display_author%></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
<% end %>
