<%= form_for(@voting_round, :url => url) do |f| %>
  <% if @voting_round.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@voting_round.errors.count, "error") %> prohibited this voting_round from being saved:</h2>

      <ul>
      <% @voting_round.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start_time %><br>
    <%= f.datetime_select :start_time %>
  </div>
  <div class="field">
    <%= f.label :end_time %><br>
    <%= f.datetime_select :end_time %>
  </div>
  <div class="field">
    <%= f.label :public_label %>
    <%= f.text_field :public_label %>
  </div>
  <div class="field">
    <%= f.label :private_label %>
    <%= f.text_field :private_label %>
  </div>
  <div class="field">
    <%= f.label :status %>
    <%= f.select :status, VotingRound::Status::All%>
  </div>
  <div class="actions">
    <%= f.submit nil, class: "btn-default btn" %>
  </div>
<% end %>
