<%= render 'admin/layouts/header' %>
<h1>Listing voting_rounds</h1>

<table class="table">
  <thead>
    <tr>
      <th>Label</th>
      <th>Start time</th>
      <th>End time</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @voting_rounds.each do |voting_round| %>
      <tr id="voting-round<%= voting_round.id %>">
        <td class="label-display">
            <%= voting_round.label %>
        </td>
        <td><%= voting_round.start_time %></td>
        <td><%= voting_round.end_time %></td>
        <td><%= link_to 'Show', admin_voting_round_path(voting_round) %></td>
        <td><%= link_to 'Edit', edit_admin_voting_round_path(voting_round) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Voting round', new_admin_voting_round_path %>
