<% provide(:title, 'Listing Voting Rounds') %>
<h1>Listing voting rounds</h1>

<%= link_to 'New Voting round', new_admin_voting_round_path, class: "btn-default btn" %>

<table class="table">
  <thead>
    <tr>
      <th>Label</th>
      <th>Status</th>
      <th>Start time</th>
      <th>End time</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @voting_rounds.each do |voting_round| %>
      <tr id="voting-round<%= voting_round.id %>">
        <td class="label-display">
            <%= voting_round.label %>
          </td>
        <td><%= voting_round.status %></td>
        <td><%= voting_round.start_time %></td>
        <td><%= voting_round.end_time %></td>
        <td><%= link_to 'Show', admin_voting_round_path(voting_round) %></td>
        <td><%= link_to 'Edit', edit_admin_voting_round_path(voting_round) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
