<!--Copyright 2013 WBEZ
This file is part of Curious City.

Curious City is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

Curious City is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with Curious City.  If not, see <http://www.gnu.org/licenses/>.!-->
<% provide(:title, 'Listing Voting Rounds') %>
<h1>Listing voting rounds</h1>

<%= link_to 'New Voting round', new_admin_voting_round_path, id:"new-voting-round-btn", class: "btn-default btn" if current_admin? %>

<table class="table">
  <thead>
    <tr>
      <th>Public Label</th>
      <th>Private Label</th>
      <th>Status</th>
      <th>Start time</th>
      <th>End time</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @voting_rounds.reverse.each do |voting_round| %>
      <tr id="voting-round<%= voting_round.id %>">
        <td class="public-label-display">
            <%= voting_round.public_label %>
        </td>
        <td><%= voting_round.private_label %></td> 
        <td><%= voting_round.status %></td>
        <td><%= convert_time(voting_round.start_time) %></td>
        <td><%= convert_time(voting_round.end_time) %></td>
        <td><%= link_to 'Show', admin_voting_round_path(voting_round) %></td>
        <% if current_admin? %>
          <td><%= link_to 'Edit', edit_admin_voting_round_path(voting_round) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
