<!--Copyright 2013 WBEZ
This file is part of Curious City.

Curious City is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

Curious City is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with Curious City.  If not, see <http://www.gnu.org/licenses/>.!-->
<% provide(:title, 'Show Voting Round') %>
<p>
  <strong>Start time:</strong>
  <%= convert_time(@voting_round.start_time) %>
</p>

<p>
  <strong>End time:</strong>
  <%= convert_time(@voting_round.end_time) %>
</p>

<p>
  <strong>Public Label:</strong>
    <span id="voting-round-public-label">
      <%= @voting_round.public_label %>
    </span>
</p>

<p>
  <strong>Private Label:</strong>
  <%= @voting_round.private_label %>
</p>
<%= render 'admin/shared/questions' %>
<%= link_to 'Edit', edit_admin_voting_round_path(@voting_round) %> |
<%= link_to 'Back', admin_voting_rounds_path %>
