<% provide(:title, 'Show Voting Round') %>
<p>
  <strong>Start time:</strong>
  <%= @voting_round.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @voting_round.end_time %>
</p>

<p>
  <strong>Public Label:</strong>
    <span id="voting-round-public-label">
      <%= @voting_round.public_label %>
    </span>
</p>

<p>
  <strong>Private Label:</strong>
  <%= @voting_round.private_label %>
</p>
<%= render 'questions' %>
<%= link_to 'Edit', edit_admin_voting_round_path(@voting_round) %> |
<%= link_to 'Back', admin_voting_rounds_path %>
