<p id="notice"><%= notice %></p>

<p>
  <strong>Start time:</strong>
  <%= @voting_round.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @voting_round.end_time %>
</p>

<p>
  <strong>Label:</strong>
    <div id="voting-round-label">
      <%= @voting_round.label %>
    </div>
</p>
<%= render 'questions' %>
<%= link_to 'Edit', edit_admin_voting_round_path(@voting_round) %> |
<%= link_to 'Back', admin_voting_rounds_path %>
