<!--Copyright 2013 WBEZ
This file is part of Curious City.

Curious City is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

Curious City is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with Curious City.  If not, see <http://www.gnu.org/licenses/>.!-->
<% provide(:title, 'Listing Answers and Updates') %>
<h1>Listing answers</h1>

<table class="table">
  <thead>
    <tr>
      <th>Label</th>
      <th>Url</th>
      <th>Type</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @answers.each do |answer| %>
      <tr class="answer-row">
        <td class="answer-label">
          <%= answer.label %>
        </td>
        <td class="answer-url">
          <%= answer.url %>
        </td>
        <td class="answer-type">
          <%= answer.type %>
        </td>
        <td class="answer-edit-link">
          <%= link_to 'Edit', edit_admin_answer_path(answer) %>
        </td>
        <td class="answer-delete-link">
          <%= link_to 'Delete', admin_answer_path(answer, question_id: answer.question_id), :method => :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>Listing updates</h1>

<table class="table">
  <thead>
    <tr>
      <th>Label</th>
      <th>Url</th>
      <th>Type</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @updates.each do |update| %>
      <tr class="update-row">
        <td class="update-label">
          <%= update.label %>
        </td>
        <td class="update-url">
          <%= update.url %>
        </td>
        <td class="update-type">
          <%= update.type %>
        </td>
        <td class="update-edit-link">
          <%= link_to 'Edit', edit_admin_answer_path(update) %>
        </td>
        <td class="update-delete-link">
          <%= link_to 'Delete', admin_answer_path(update, question_id: update.question_id), :method => :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Reorder Answers and Updates', reorder_admin_answers_path(question_id: @question.id), class: "btn-default btn" %>
<%= link_to 'New Answer or Update', new_admin_answer_path(question_id: @question.id), class: "btn-default btn" %>
