<h1>New answer</h1>

<%= form_for(@answer, :url => admin_answers_path) do |f| %>
  <div class="field">
    <%= f.label :label %><br>
    <%= f.text_field :label %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.hidden_field :question_id %>
  </div>
  <div class="field">
    <%= f.radio_button :type, 'Answer' %>
    <%= f.label :type, 'Answer', value: 'Answer' %>
    <%= f.radio_button :type, 'Update' %>
    <%= f.label :type, 'Update', value: 'Update' %>
  </div>
  <%= f.submit "Add answer to question"%> 
<% end %>
