<!--Copyright 2013 WBEZ
This file is part of Curious City.

Curious City is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

Curious City is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with Curious City.  If not, see <http://www.gnu.org/licenses/>.!-->
<%= javascript_include_tag "jquery.ui.sortable"%>
<% provide(:title, 'Listing Answers and Updates') %>
<script>
  $(function() {
    $("#sortable1").sortable({ 
      axis: 'y',
      update: function (event, ui) {
        var data = $(this).sortable("serialize");
        $.post($(this).data("update-url"), $(this).sortable("serialize"));
      }
    });
    $("#sortable2").sortable({ 
      axis: 'y',
      update: function (event, ui) {
        var data = $(this).sortable("serialize");
        $.post($(this).data("update-url"), $(this).sortable("serialize"));
      }
    });
  });
</script>
<p>Drag and drop to reorder.</p>
<h1>Reordering answers</h1>
<ul id="sortable1" data-update-url="<%= sort_admin_answers_url %>"> 
  <% @answers.each do |answer| %>
    <li class="ui-state-default" id="answer_<%= answer.id %>">
      <%= "#{answer.label} (" %>
      <%= link_to h(answer.url), answer.url %>
      <%= ")" %>
    </li>
  <% end %>
</ul>
<h1>Reordering updates</h1>
<ul id="sortable2" data-update-url="<%= sort_admin_answers_url %>">
  <% @updates.each do |update| %>
    <li class="ui-state-default" id="answer_<%= update.id %>">
      <%= "#{update.label} (" %>
      <%= link_to h(update.url), update.url %>
      <%= ")" %>
    </li>
  <% end %>
</ul>
