<%= form_for(@voting_round_question) do |f| %>
  <% if @voting_round_question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@voting_round_question.errors.count, "error") %> prohibited this voting_round_question from being saved:</h2>

      <ul>
      <% @voting_round_question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :voting_round_id %><br>
    <%= f.number_field :voting_round_id %>
  </div>
  <div class="field">
    <%= f.label :question_id %><br>
    <%= f.number_field :question_id %>
  </div>
  <div class="field">
    <%= f.label :vote_number %><br>
    <%= f.number_field :vote_number %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
