<p id="notice"><%= notice %></p>

<p>
  <strong>Voting round:</strong>
  <%= @voting_round_question.voting_round_id %>
</p>

<p>
  <strong>Question:</strong>
  <%= @voting_round_question.question_id %>
</p>

<p>
  <strong>Vote number:</strong>
  <%= @voting_round_question.vote_number %>
</p>

<%= link_to 'Edit', edit_voting_round_question_path(@voting_round_question) %> |
<%= link_to 'Back', voting_round_questions_path %>
