<!--Copyright 2013 WBEZ
This file is part of Curious City.

Curious City is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

Curious City is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with Curious City.  If not, see <http://www.gnu.org/licenses/>.!-->
<% provide(:title, 'Listing Questions') %>
<h1>Listing questions</h1>

<p>
<%= link_to 'New Question', new_admin_question_path, class:"btn-default btn" if current_admin? %>
</p>

<% if @tags.present? %>
  <details open>
    <summary><strong>Tags:</strong></summary>
    <% tag_cloud(@tags, %w(tag-xs tag-sm tag-md tag-bg)) do |tag, css_class| %>
      <%= link_to tag.name + "(" + tag.count.to_s + ")", filter_admin_questions_path(tag.name) , :class => css_class %>
    <% end %>
  </details>
<% end %>

<table class="table table-bordered" id="admin-question-table">
  <thead>
    <tr>
      <th class="small-cel">ID</th>
      <th class="small-cel">Status</th>
      <th class="medium-cel">Display text</th>
      <th>Name</th>
      <th>Category</th>
      <th>Created At</th>
      <th>Notes</th>
      <th>Tags</th>
      <th class="small-cel"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <% cache(question) do %>
      <tr>
        <td><%= question.id %></td>
        <td title="<%= question.status %>"><%= question_status_abbreviation(question) %></td>
        <td><%= question.display_text %></td>
        <td><%= question.name %></td>
        <td><%= question.categories.map(&:label).join(', ') %></td>
        <td><%= display_date(question.created_at) %></td>
        <td><%= question.notes %></td>
        <td><%= display_tags(question) %></td>
        <td>
          <%= link_to 'Show', admin_question_path(question) %>
          <%= link_to 'Edit', edit_admin_question_path(question) %>
        </td>
      </tr>
     <% end %>
    <% end %>
  </tbody>
</table>

<br>

