<% provide(:title, 'Listing Questions') %>
<h1>Listing questions</h1>

<p>
<%= link_to 'New Question', new_admin_question_path, class:"btn-default btn" %>
</p>
<table class="table table-bordered" id="admin-question-table">
  <thead>
    <tr>
      <th class="small-cel">ID</th>
      <th class="medium-cel">Display text</th>
      <th>Name</th>
      <th>Category</th>
      <th>Notes</th>
      <th>Tags</th>
      <th class="small-cel"></th>
      <th class="small-cel"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <% cache(question) do %>
      <tr>
        <td><%= question.id %></td>
        <td><%= question.display_text %></td>
        <td><%= question.name %></td>
        <td><%= question.categories.map(&:label).join(', ') %></td>
        <td><%= question.notes %></td>
        <td><%= display_tags(question) %></td>
        <td><%= link_to 'Show', admin_question_path(question) %></td>
        <td><%= link_to 'Edit', edit_admin_question_path(question) %></td>
      </tr>
     <% end %>
    <% end %>
  </tbody>
</table>

<br>

