<p>
  <strong>Original text:</strong>
  <%= @question.original_text %>
</p>

<p>
  <strong>Display text:</strong>
  <%= @question.display_text %>
</p>

<p>
  <strong>Image:</strong>
  <%= link_to @question.picture_url, @question.picture_url %>
</p>

<p>
  <strong>Image Owner:</strong>
  <%= @question.picture_owner %> 
</p>

<p>
  <strong>Image Attribution URL:</strong>
  <%= link_to @question.picture_attribution_url, @question.picture_attribution_url %>
</p>

<p>
  <strong>Name:</strong>
  <%= @question.name %>
</p>

<p>
  <strong>Anonymous:</strong>
  <%= @question.anonymous %>
</p>

<p>
  <strong>Email:</strong>
  <%= @question.email %>
</p>

<p>
  <strong>Neighborhood:</strong>
  <%= @question.neighbourhood %>
</p>

<p>
  <strong>Category:</strong>
  <%= @question.categories.map(&:label).join(',') %>
</p>

<p>
  <strong>Answers:</strong>
  <% @question.answers.each do |answer| %>
    <div>
      <span class="answer_label"><%= answer.label %></span>
      <span class="answer_url"><%= answer.url %></span>
    </div>
  <% end %>
</p>

<%= link_to 'Edit', edit_admin_question_path(@question) %> |
<%= link_to 'Back', admin_questions_path %>
