<p>
  <strong>Original text:</strong>
  <%= @question.original_text %>
</p>

<p>
  <strong>Display text:</strong>
  <%= @question.display_text %>
</p>

<p>
  <strong>Name:</strong>
  <%= @question.name %>
</p>

<p>
  <strong>Anonymous:</strong>
  <%= @question.anonymous %>
</p>

<p>
  <strong>Email:</strong>
  <%= @question.email %>
</p>

<p>
  <strong>Neighborhood:</strong>
  <%= @question.neighbourhood %>
</p>

<p>
  <strong>Category:</strong>
  <%= @question.categories.map(&:label).join(',') %>
</p>

<%= link_to 'Edit', edit_admin_question_path(@question) %> |
<%= link_to 'Back', admin_questions_path %>
