<% provide(:title, 'Listing Categories') %>
<h1>Listing categories</h1>

<%= link_to 'New Category', new_admin_category_path, class:"btn-default btn" if @current_admin.admin%>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Label</th>
      <th>Active</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_categories.each do |admin_category| %>
      <tr>
        <td><%= admin_category.name %></td>
        <td><%= admin_category.label %></td>
        <td><%= admin_category.active %></td>
        <td><%= link_to 'Show', admin_category_path(admin_category) %></td>
        <% if @current_admin.admin %>
          <td><%= link_to 'Edit', edit_admin_category_path(admin_category) %></td>
          <td><%= link_to 'Deactivate', deactivate_admin_category_path(admin_category), method: :post, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
