<div class="ask-widget">
 <%= link_to image_tag("cc-logo.png", class: "widget-image-logo", alt: "WBEZ CuriousCity" ), root_url%>
  <div class="submit-wrap">
    <div class="carrot"></div>
    <div class="submit-question-container">
      <%= form_tag root_path(anchor:'ask'), id: 'ask-question-form', method: :get, target: '_blank' do %>
        <%= text_area_tag :display_text, nil, placeholder: "What do you wonder about Chicago, the region or its people that you want WBEZ to investigate?", class: "submit-question-text", maxlength: 140 %>
        <%= submit_tag "Submit", class: "btn submit-question-btn" %>
      <% end %>
    </div>
  </div>
  <div class="footer">
    <%= link_to "Browse Answers", filter_questions_url, id: "browse-answers-link" %> |
    <%= link_to "Browse Questions", filter_questions_url, id: "browse-questions-link" %>
  </div>
</div>
