<!--Copyright 2013 WBEZ
This file is part of Curious City.

Curious City is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

Curious City is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with Curious City.  If not, see <http://www.gnu.org/licenses/>.!-->
<script>
  $(document).ready(function() {
    $(".submit-question-text").limiter(140, $("#question_display_text_count"));
  });
</script>
<div>
  <%= link_to image_tag("cc-logo.png", class: "widget-image-logo", alt: "Mi Curious"), root_url, target: "blank" %>
  <div>
    <p>What do you wonder about Michigan, the region, or its people that you want Michigan Radio to investigate?</p>
    <div>
      <%= form_tag root_path(anchor:'ask'), id: 'ask-question-form-IE', method: :get, target: '_blank' do %>
        <%= text_area_tag :display_text, nil, rows: "5",  class: "submit-question-text", maxlength: 140 %>
        <br> 
      <span class="char-limit">(<span id="question_display_text_count"></span> characters left)</span>
         <%= submit_tag "Ask", class: "submit" %>
      <% end %>
    </div>
  </div>
  <div class="footer">
    <%= link_to "Browse Answers", filter_questions_url(status: "answered"), id: "browse-answers-link", target: "_blank" %> |
    <%= link_to "Browse Questions", filter_questions_url(status: "archive"), id: "browse-questions-link", target: "_blank" %>
    <br> 
  <div class="partners">
    <div class="clearfix"> </div>
      <%= render partial: 'layouts/logos', locals: { div_class_append: '-widget', img_class_append: ' logo-widget' } %>
    </div>
  </div>
</div
