<!--Copyright 2013 WBEZ
This file is part of Curious City.

Curious City is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

Curious City is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with Curious City.  If not, see <http://www.gnu.org/licenses/>.!-->
<% if !@voting_round || voted? then %>
  <script> 
   /* $(document).ready(function(){
    var count = 5;
    countdown = setInterval(function(){
        count--;
        if (count == 0) {
          $("body").fadeOut(1000,  function() {window.location = '/ask_widget' });  
        }
      }, 1000);
    });*/
  </script>
<% end %>

<script>
  $(document).ready(function(){
    $('.widget-question').on('mouseenter','.vote', function(){
      $(this).closest('.widget-question').find('.widget-blue-hover').addClass('hover');    
    });

    $('.widget-question').on('mouseleave','.vote', function(){
      $(this).closest('.widget-question').find('.widget-blue-hover').removeClass('hover');    
    });
  });
</script>
<% if @voting_round %>
  <div class="widget-prompt">
    <%= voted? ? raw("<br>")+"THANKS FOR VOTING!" : "WHICH QUESTION SHOULD WBEZ INVESTIGATE NEXT?" %>
  </div>
  <div class="questions-container">
    <% display_order(@voting_round.questions[0..2]).each_with_index do |question, index| %>
      <div class="widget-question">
          <% if voted? %>
            <h3 class="rank" id="rank<%= question.id.to_s %>"><%= (index + 1).ordinalize %></h3>
          <% end %>
        <div class="widget-question-text">
          <%unless voted? %>
            <%=link_to "", widget_vote_path(question_id: question.id, voting_round_id: @voting_round.id), method: :post, class: "vote", id: "vote"+question.id.to_s %> 
          <% end %>
          <div class="widget-blue-hover">
            <div class="display-text">
              <%= question_display_text(question) %>
            </div>
          </div>
          <% if voted? %><span class="rank-triangle"></span>
                 <% if last_vote?(question.id) %>
                   <%= content_tag(:div, nil, id: 'vote_confirm' + question.id.to_s, class: "voted") %>
                  <% else %>
                    <div class = "background-circle"></div>
                    <%= content_tag(:div, nil, id: 'not-vote-confirm' + question.id.to_s, class: "not-voted") %>
                <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
  <%= link_to image_tag("cc-logo.png", class: "widget-image-logo", alt: "WBEZ CuriousCity" ), root_url, target: "blank" %>
  <div class="widget-subtitle">
    What do you wonder about Chicago?
  </div>
