<% if voted? then %>
  <script> 
    var count = 2;
    countdown = setInterval(function(){
      count--;
      if (count == 0) {
      $("body").fadeOut(1000,  function() {window.location = '/ask_widget' });  
             }
    }, 1000);
  </script>
<% end %>
<div class="widget-prompt">
  <%= voted? ? "Thanks for voting!" : "Which question should WBEZ investigate next?" %>
</div>
<div class="questions-container">
  <% (@questions.sort &sort_proc).each_with_index do |question, index| %>
    <div class="widget-question" style="background-image: url(<%= question.picture_url %>)">
      <span class="ranking-legend">
        <% if voted? %>
          <h3 class="rank" id="rank<%= question.id.to_s %>"><%= (index + 1).ordinalize %></h3>
          <% end %>
        </span>
        <div class="widget-question-text">
          <%unless voted? %>
            <%=link_to "", widget_vote_path(question_id: question.id, voting_round_id: @voting_round.id), method: :post, class: "vote", id: "vote"+question.id.to_s %> 
          <% end %>
          <div class="display-text">
            <%= question.display_text %>
          </div>
          <% if voted? %><span class="rank-triangle"></span>
            <%= if last_vote?(question.id) then content_tag(:div, nil, id: 'vote_confirm' + question.id.to_s, class: "voted") end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to image_tag("cc-logo.png", class: "widget-image-logo", alt: "WBEZ CuriousCity" ), root_url%>
  <div class="widget-subtitle">
    What do you wonder about Chicago?
  </div>
