<% provide(:title, 'Admin Home Page') %>
<h1>Admin Home Page</h1>

<div class="dashboard">
  <div class="row">
  <div class="recent-questions col-md-6">
    <details>
    <summary> <strong>Recent questions:</strong></summary>
  <table class="table table-bordered">
    <% count = 1 %>
    <% @recent_questions.each do |question| %>
      <div class="recent-question"><tr><td>
            <%= link_to "#{count}. "+question.display_text, admin_question_path(question) %>
            <% count+=1 %>
      </td></tr></div>
    <% end %>
  </table>
  </details>
</div>
<div class="current-voting-round col-md-6">
  <details>
  <summary><strong>Current Voting Round:</strong></summary>
  <%= render 'admin/shared/questions' %>
  </details>
</div>
</div>
<br>
<div class="row">
  <div class="recent-answers col-md-6">
    <details>
    <summary><strong>Recent answers:</strong></summary>
    <table class="table table-bordered">
    <% count = 1 %>
      <% @recent_answers.each do |answer| %>
        <div class="recent-answer"><tr><td>
          <%= link_to "#{count}. "+answer.label, admin_question_path(answer.question_id) %> 
            <% count+=1 %>
    </td></tr></div>
      <% end %>
    </table>
    </details>
  </div>
  <div class="recent-updates col-md-6">
    <details>
    <summary><strong>Recent updates:</strong></summary>
    <table class="table table-bordered">
    <% count = 1 %>
      <% @recent_updates.each do |update| %>
        <div class="recent-update"><tr><td>
          <%= link_to "#{count}. "+update.label, admin_question_path(update.question_id) %> 
            <% count+=1 %>
    </td></tr></div>
      <% end %>
    </table>
    </details>
  </div>
</div>
<br>
<div class="row">
  <div class="recent-tags col-md-6">
    <details>
    <summary><strong>Recent tags:</strong></summary>
    <table class="table table-bordered">
    <% count = 1 %>
      <% @recent_questions_with_updated_tags.each do |question| %>
        <div class="recent-tag"><tr><td>
          <%= link_to "#{count}. " + display_tags(question), admin_question_path(question), id: "tag" %> 
            <% count+=1 %>
    </td></tr></div>
      <% end %>
    </table>
    </details>
  </div>
  <div class="recent-notes col-md-6">
    <details>
    <summary><strong>Recent notes:</strong></summary>
    <table class="table table-bordered">
    <% count = 1 %>
      <% @recent_questions_with_updated_notes.each do |question| %>
        <div class="recent-note"><tr><td>
              <%= link_to "#{count}. "+question.notes, admin_question_path(question) %> 
            <% count+=1 %>
    </td></tr></div>
      <% end %>
    </table>
    </details>
  </div>
</div>
</div>
