<% provide(:title, 'Admin Home Page') %>
<h1>Admin Home Page</h1>

<div class="dashboard">
  <div class="row">
  <div class="recent-questions col-md-6">
    <details>
    <summary> <strong>Recent questions:</strong></summary>
  <table class="table table-bordered">
    <% count = 1 %>
    <% @recent_questions.each do |question| %>
      <div class="recent-question"><tr><td>
            <%= link_to "#{count}. "+question.display_text, admin_question_path(question) %>
            <% count+=1 %>
      </td></tr></div>
    <% end %>
  </table>
  </details>
</div>
<div class="current-voting-round col-md-6">
  <details>
  <summary><strong>Current Voting Round:</strong></summary>
  <%= render 'admin/shared/questions' %>
  </details>
</div>
</div>
<br>
<div class="row">
  <div class="recent-answers col-md-6">
    <details>
    <summary><strong>Recent answers:</strong></summary>
    <table class="table table-bordered">
    <% count = 1 %>
      <% @recent_answers.each do |answer| %>
        <div class="recent-answer"><tr><td>
          <%= link_to "#{count}. "+answer.label, admin_question_path(answer.question_id) %> 
            <% count+=1 %>
    </td></tr></div>
      <% end %>
    </table>
    </details>
  </div>
  <div class="recent-updates col-md-6">
    <details>
    <summary><strong>Recent updates:</strong></summary>
    <table class="table table-bordered">
    <% count = 1 %>
      <% @recent_updates.each do |update| %>
        <div class="recent-update"><tr><td>
          <%= link_to "#{count}. "+update.label, admin_question_path(update.question_id) %> 
            <% count+=1 %>
    </td></tr></div>
      <% end %>
    </table>
    </details>
  </div>
</div>
<br>
<div class="row">
  <div class="recent-tags col-md-6">
    <details>
    <summary><strong>Recent tags:</strong></summary>
    <table class="table table-bordered">
    <% count = 1 %>
      <% @recent_questions_with_updated_tags.each do |question| %>
        <div class="recent-tag"><tr><td>
          <%= link_to "#{count}. " + display_tags(question), admin_question_path(question), id: "tag" %> 
            <% count+=1 %>
    </td></tr></div>
      <% end %>
    </table>
    </details>
  </div>
  <div class="recent-notes col-md-6">
    <details>
    <summary><strong>Recent notes:</strong></summary>
    <table class="table table-bordered">
    <% count = 1 %>
      <% @recent_questions_with_updated_notes.each do |question| %>
        <div class="recent-note"><tr><td>
              <%= link_to "#{count}. "+question.notes, admin_question_path(question) %> 
            <% count+=1 %>
    </td></tr></div>
      <% end %>
    </table>
    </details>
  </div>
</div>
<br>
<h3> Search Questions </h3>
<%= form_tag(search_admin_questions_path, method: "post") do %>
  <%= select_tag "category", options_from_collection_for_select(@categories, "id", "name"), prompt: "Please select a category"%>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag "text" %>
  <%= submit_tag "Search", id: "search-button" %>
<% end %>

<% if @search_results.present? %>
<table class="table table-bordered" id="admin-question-table">
  <thead>
    <tr>
      <th class="small-cel">ID</th>
      <th class="medium-cel">Display text</th>
      <th>Name</th>
      <th>Category</th>
      <th>Notes</th>
      <th>Tags</th>
      <th class="small-cel"></th>
      <th class="small-cel"></th>
    </tr>
  </thead>

  <tbody>
    <% @search_results.each do |question| %>
      <% cache(question) do %>
      <tr class="search-question">
        <td><%= question.id %></td>
        <td><%= question.display_text %></td>
        <td><%= question.name %></td>
        <td><%= question.categories.map(&:label).join(', ') %></td>
        <td><%= question.notes %></td>
        <td><%= display_tags(question) %></td>
        <td><%= link_to 'Show', admin_question_path(question) %></td>
        <td><%= link_to 'Edit', edit_admin_question_path(question) %></td>
      </tr>
     <% end %>
    <% end %>
  </tbody>
</table>
<% end %>
</div>
