<!--Copyright 2013 WBEZ
This file is part of Curious City.

Curious City is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

Curious City is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with Curious City.  If not, see <http://www.gnu.org/licenses/>.!-->
<header>
<script>
  $(document).ready(function() {
  $('#how-it-works-link').click(function() {
  $('#how-it-works').slideToggle();
  });
  $('#display_text').limiter(140, $('#question_display_text_count_header'));
  });
</script>
<!--[if lt IE 9]>
<div class="ie8-info">
  You are using an old version of Internet Explorer browser. For a better browsing experience, please upgrade your web browser to IE9 and above, or switch to another browser like <a href="http://www.google.com/chrome">Chrome</a> or <a href="http://www.mozilla.org/en-US/firefox">Firefox</a>. 
</div>
<![endif]-->
<div id="how-it-works" class="clearfix">
  <ul id="instructions" class="container-padding row">
    <li class="step-1 col-sm-2">
    <i class="number-1"></i>
    <p>Questions come from the community</p>
    </li>
    <li class="step-2 col-sm-2">
    <i class="number-2"></i>
    <p>You vote for your favorites</p>
    </li>
    <li class="step-3 col-sm-3">
    <i class="number-3"></i>
    <p>WBEZ investigates, posting updates in real time</p>
    </li>
    <li class="step-4 col-sm-2">
    <i class="number-4"></i>
    <p>Followers help shape the investigation</p>
    </li>
    <li class="step-5 col-sm-3">
    <i class="number-5"></i>
    <p>We discover the answers together!</p>
    </li>
  </ul>
</div>
<div class="header-logo">
  <div class="container-padding">
    <%= link_to image_tag("wbez.gif"), "http://www.wbez.org/series/curious-city" %>
    
    <%= render "layouts/search_box" unless Rails.env.test? %>
    
    <div class="header-links btn-group hidden-xs">
      <a class="collapse-data-btn" id = "how-it-works-link" href="#how-it-works">How It Works</a> |
      <%= link_to "About", about_path %>
      <%= link_to image_tag("twitter.png", class:"twitter-icon"),"https://twitter.com/wbezcuriouscity", target:"blank" %>
      <%= link_to image_tag("facebook.png", class:"facebook-icon", size:"26x26"), "http://www.facebook.com/curiouscityproject", target:"blank" %>
      <%= link_to image_tag("tumblr.png", class:"tumblr-icon", size:"16x16"), "http://wbezcuriouscity.tumblr.com", target:"blank"%>
      <%= link_to image_tag("youtube.png", class:"youtube-icon", size:"16x16"), "http://www.youtube.com/playlist?list=PL0LxICU6xOzP7qETdSUW1nKWCjWtkkpek", target:"blank"%>
      <%= link_to image_tag("soundcloud.png", class:"soundcloud-icon", size:"16x16"), "http://soundcloud.com/curiouscity", target:"blank"%>
      <%= link_to image_tag("rss.png", class:"rss-icon", size:"16x16"), "http://www.wbez.org/taxonomy/term/20056/feed", target:"blank"%>
    </div>
  </div>
</div>
<div class="container-padding row ask-question-row">
  <%= link_to image_tag("cc-logo.gif", class: "image-logo img-responsive"), root_url, :class=> "col-sm-4 hidden-lg cc-logo" %>
  <%= link_to image_tag("cc-logo-large.gif", class: "image-logo-large img-responsive"), root_url, :class=> "col-sm-4 visible-lg cc-logo" %>
  <span class="submit-wrap col-sm-8">
    <div class="carrot"></div>
    <div class="submit-question-container">
      <%= form_tag ask_question_path, id: 'ask-question-form', remote: true do %>
        <%= text_area_tag :display_text, params[:display_text], placeholder: "What do you wonder about Chicago, the region or its people that you want WBEZ to investigate?", class: "submit-question-text", maxlength: 140 %>
        <%= submit_tag "Ask", class: "btn submit-question-btn", remote: true%>
        <small class="submit-question-spec-header">
          (<span id="question_display_text_count_header"></span> characters left)
        </small>
      <% end %>
    </div>
  </span>
</div>
<%= render "layouts/navigation" %>
</header>
