<header>
<script>
  $(document).ready(function() {
  $('#how-it-works-link').click(function() {
  $('#how-it-works').slideToggle();
  });
  $('#display_text').limiter(140, $('#question_display_text_count_header'));
  });
</script>
<!--[if lt IE 9]>
<div class="ie8-info">
  You are using an old version of Internet Explorer browser. For a better browsing experience, please upgrade your web browser to IE9 and above, or switch to another browser like <a href="http://www.google.com/chrome">Chrome</a> or <a href="http://www.mozilla.org/en-US/firefox">Firefox</a>. 
</div>
<![endif]-->

<div id="how-it-works" class="clearfix">
  <ul id="instructions" class="container-padding">
    <li class="step-1">
    <i class="number-1"></i>
    Questions come from the community
    </li>
    <li class="step-2">
    <i class="number-2"></i>
    You vote for your favorites 
    </li>
    <li class="step-3">
    <i class="number-3"></i>
    WBEZ investigates, posting updates in real time 
    </li>
    <li class="step-4">
    <i class="number-4"></i>
    Followers help shape the investigation
    </li>
    <li class="step-5">
    <i class="number-5"></i>
    We discover the answers together!
    </li>
  </ul>
</div>
<div class="header-logo">
  <div class="container-padding">
    <%= link_to image_tag("wbez.png", class: "header-logo"), "http://www.wbez.org" %>
    <div class="header-links btn-group">
      <a class="collapse-data-btn" id = "how-it-works-link" href="#how-it-works">How It Works</a> |
      <%= link_to "About", about_path %>
      <%= link_to image_tag("twitter.png", class:"twitter-icon"),"https://twitter.com/wbezcuriouscity", target:"blank" %>
      <%= link_to image_tag("facebook.png", class:"facebook-icon", size:"16x16"), "http://www.facebook.com/curiouscityproject", target:"blank" %>
      <%= link_to image_tag("tumblr.png", class:"tumblr-icon", size:"16x16"), "http://wbezcuriouscity.tumblr.com", target:"blank"%>
    </div>
  </div>
</div>
<div class="container-padding">
  <%= link_to image_tag("cc-logo.gif", class: "image-logo"), root_url, :class=> "image-logo" %>
  <div class="submit-wrap">
    <div class="carrot"></div>
    <div class="submit-question-container">
      <%= form_tag ask_question_path, id: 'ask-question-form', remote: true do %>
        <%= text_area_tag :display_text, params[:display_text], placeholder: "What do you wonder about Chicago, the region or its people that you want WBEZ to investigate?", class: "submit-question-text", maxlength: 140 %>
        <%= submit_tag "Ask", class: "btn submit-question-btn", remote: true%>
        <small class="submit-question-spec-header">
          (<span id="question_display_text_count_header"></span> characters left)
        </small>
      <% end %>
    </div>
  </div>
</div>
<%= render "layouts/navigation" %>
</header>
