<!--Copyright 2013 WBEZ
This file is part of Curious City.

Curious City is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

Curious City is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with Curious City.  If not, see <http://www.gnu.org/licenses/>.!-->
<div class="<%= 'sponsor-logos' << div_class_append %>">
  <% img_class = 'logo-small' + img_class_append %>
  <%= link_to image_tag("mccormick.png", class: img_class + " tw-logo"), "http://www.mccormickfoundation.org", target: "blank" %>
  <%= link_to image_tag("conant.jpg", class: img_class + " conant-logo"), "", target: "blank" %>
  <%= link_to image_tag("zeega_bw.png", class: img_class), "http://www.zeega.com/", target: "blank" %>
  <%= link_to image_tag("wyncote_bw.png", class: img_class), "http://www.wyncotefoundation.org/", target: "blank" %>
  <%= link_to image_tag("art-works_bw.png", class: img_class), "http://www.arts.gov/artworks/", target: "blank" %>
  <%= link_to image_tag("macarthur_bw.gif", class: img_class), "http://www.macfound.org/", target: "blank" %>
  <%= link_to image_tag("cpb_bw.png", class: img_class), "http://www.cpb.org/", target: "blank" %>
  <%= link_to image_tag("air_bw.png", class: img_class), "http://www.airmedia.org/", target: "blank" %>
  <%= link_to image_tag("localore_bw.png", class: img_class), "http://airmediaworks.org/localore", target: "blank" %>
  <%= link_to image_tag("kf_bw.gif", class: img_class + " kf-logo"), "http://www.knightfoundation.org/", target: "blank" %>
  <%= link_to image_tag("tw-logo.png", class: img_class + " tw-logo"), "http://thoughtworks.com", target: "blank" %>
</div>
