<!--Copyright 2013 WBEZ
This file is part of Curious City.

Curious City is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

Curious City is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with Curious City.  If not, see <http://www.gnu.org/licenses/>.!-->
<nav class="navbar row" role="navigation">
  <div class="container-padding">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target="#cc-navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand visible-xs"> <span class="radio-station">Michigan Radio's</span> MI Curious </span>
      <%= link_to("Ask", ask_mobile_url, class: "navbar-ask-button btn pull-right visible-xs") %>
    </div>
    <div class="collapse navbar-collapse" id="cc-navbar-collapse">
      <ul class="visible-xs nav navbar-nav col-sm-8 pull-right nav-justified">
        <li><%= link_to "Voting", root_url, class: @up_for_voting_class %></li>
        <li><%= link_to("Browse Answers", filter_questions_url(status: "answered"), class: @answered_class.to_s) %> </li>
        <li><%= link_to("Browse Questions", filter_questions_url(status: "archive"), class: @unanswered_class.to_s) %></li>
        <li><%= link_to "Search", search_user_questions_url, class: @search_class.to_s %></li>
        <li><%= link_to "About", about_url, class: @about_class.to_s %></li>
        <li><%= link_to "Listen", "https://soundcloud.com/michigan-radio", target: "blank" %></li>
        <li><%= link_to "Our Latest on Michigan Radio", "http://michiganradio.org/programs/m-i-curious", target: "blank" %></li>
      </ul>
      <ul class="hidden-xs nav navbar-nav col-sm-8 pull-right nav-justified">
        <li><%= link_to "Up for Voting", root_url, id: "up-for-voting-id", class: @up_for_voting_class %></li>
        <li class="dropdown" id="answered-investigating">
          <%= link_to("Answered & Investigating", filter_questions_url(status: "answered"), id: "answered-investigating-id", class: "dropdown-toggle "+ @answered_class.to_s)%> 
          <%= render partial: "layouts/category_dropdown_menu", locals:{status: "answered"} %>
        </li>
        <li class="dropdown" id="new-unanswered">
          <%= link_to("New & Unanswered", filter_questions_url(status: "archive"), id: "new-unanswered-id", class:"dropdown-toggle "+ @unanswered_class.to_s) %>
          <%= render partial: "layouts/category_dropdown_menu", locals:{status: "archive"} %>
        </li>
      </ul>
    </div>
  </div>
</nav>
