<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if not @question.nil? and request.original_url == question_url(@question) %> 
      <meta property="og:title" content="Curious City - <%= @question.display_text %>" /> 
      <meta property="og:image" content="<%= question_image_url(@question) %>" /> 
      <meta property="og:url" content="<%= request.original_url %>" />
    <% end %>

    <script>
      if (window.location.hash.substring(0,2) == "#!") {
      window.location.assign(window.location.hash.substring(1));
      }
    </script>
    <title>Curious City</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= render "layouts/analytics" %>
    <%= csrf_meta_tags %>
    <link rel="shortcut icon" href="<%= image_url('favicon.ico') %>">
  </head>
  <body>
    <div class="container">
      <%= render "layouts/header" %>
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <section>
      <%= yield %>
      </section>
    </div>
    <div id="ask-question-modal"></div>
  </body>
  <div class="container">
    <%= render "layouts/footer" %>
    <%= debug(params) if Rails.env.development? %>
  </div>
  <script> 
    $(document).ready(function(){
    $('.question').on('mouseover', function(){
    $(this).children('.question-text').children('.question-link').addClass('highlight');
    });

    $('.question').on('mouseout', function(){
    $(this).children('.question-text').children('.question-link').removeClass('highlight');
    });

    $('.question').on('click', function(){
    var link = $(this).children('.question-text').children('.question-link').attr("href");
    window.location.assign(link);
    });
    });
  </script>
</html>
