<!DOCTYPE html>
<html>
<head>
  <title>Curiouscity</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <div class="header-logo">
  </div>
</head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <%= image_tag("cc-logo.gif", class: "image-logo") %>
        </div>
        <div class="submit-wrap">
          <div class="carrot"></div>
          <div class="submit-question-container">
            <%= form_tag ask_question_path do %>
              <%= text_area_tag :display_text, nil, placeholder: "What do you wonder about Chicago, the region or its people that you want WBEZ to investigate?", class: "submit-question-text" %>
              <%= submit_tag "Ask", class: "btn submit-question-btn" %>
            <% end %>
          </div>
        </div>
      </div>
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
